/* color palette
CSS
--jet: #2a2b2eff;
--platinum: #e5e5e5ff;
--white: #ffffffff;
--persian-red: #d1302eff;
--royal-blue-dark: #012e6dff; */

/* -----------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------
Global Styles*/

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
  color: black;
  font-family: "Roboto", sans-serif;
  background-color: D3D3D3;
  overflow-x: hidden;
}



.apply_page_header{
  width: 100%;
  height: 200px;
  background-color: D3D3D3;
  color: #012e6dff;
  justify-content: center;
  margin: 0 0 10 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.apply_page_header h1{
  font-size: 2.5rem;
}

.apply_page_header h3{
  font-size: 1.4rem;

}

.ap_side_text{
  padding-top: 20px;
  width: 40%;
  position: absolute;
  top: 40px;
  left: 40px;
}

.ap_side_text p{
  font-weight: 100;
  font-size: 1.1rem;
  color: black;
}

.ap_side_text h1{
  font-size: 1.8rem;
  color: #012e6dff;
}

.ap_side_text h2{
  font-size: 1.4rem;
    color: #012e6dff;
}

.application_page{
  /* display: flex; */
  position: absolute;
  width: 100%;
  margin: 10px 0px;
  height: 1100px;
  background-color: #D3D3D3;
}

.application_form{
  margin-top: 80px;
  position: absolute;
  height: 800px;
  width: 650px;
  left:45%;
  top:0;
  padding: 50px;
  background-color: #FCFCFC;
  border: 1px black solid;
  box-shadow: 0 5px 10px 8px #0000006f;
}

.text_input_fields{
/* position: absolute;
left: 50%;
top: 0; */
display: inline-block;
width: 200px;
margin: 10px 20px;
}

.text_input_fields input, .application_form select, .text_box{
  width: 200px;
  height: 25px;
  margin: 2px 0;
}


.thrdcol_input_fields{
  position: absolute;
  left: 50%;
  top: 10%;
  display: inline-block;
  margin: 10px 20px;
}

.submitBtn{
  width: 600px;
  margin: 40px;
  padding: 20px 100px;
  margin: auto;
  font-size: 1.3rem;
  color: #e5e5e5ff;
  background: #012e6dff;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.header .wrapper a {
color: white;
text-decoration: none;
}

.header .wrapper {
  background-color: #002e6d;  
}

.header .wrapper .top_navbar {
  width: 100%;
  height: 60px;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bolder;
  /* Right and left padding is 50px */
  padding: 10px 50px;
  

  /* expands flex-items to fill the available space */
  display: flex;
  /* provides the space btw items */
  justify-content: space-between;
  /* center all items in the  div element */
  align-items: center;
}

.header .wrapper .top_navbar .logo img {
  float: left;
  margin-left: -20px;
  margin-top: 45px;
}

.header .wrapper .top_navbar .rightside ul {
  display: flex;
}
.header .wrapper .top_navbar .rightside ul li {
  margin: 0 50px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.4s;
  color: white;
}

.header .wrapper .top_navbar .rightside ul li:hover {
  border-bottom: 1px solid #d00d2d;
}

.header .wrapper .top_navbar .rightside ul li:last-child {
  background-color: #d00d2d;
  margin-right: 100px;
  border: 1px #ffffff solid;
  border-radius: 3px;
  padding: 2px;
  font-size: 0.7em;
}

.header .wrapper .top_navbar .rightside ul li a {
  display: block;
  padding: 4px 8px;
}

.header .wrapper .top_navbar .rightside ul li a:hover:last-child {
  color: #eb3956;
}

.header .wrapper .bottom_navbar .leftside {
  width: 100%;
  padding-bottom: 10px;
  padding-left: 600px;
  font-size: 0.9em;
  font-weight: bolder;
}
.header .wrapper .bottom_navbar .leftside ul {
  display: flex;
  padding-right: 800px;
  justify-content: space-between;
}

.header .wrapper .bottom_navbar .leftside ul li {
  color: white;
}

.header .wrapper .bottom_navbar .leftside ul li:hover {
  border-bottom: 1px solid #d00d2d;
  color: #d00d2d;
}

/* The sub menus */
.header .wrapper .bottom_navbar .leftside .sub_menu {
  display: none;
  z-index: 1;
}

.header .wrapper .bottom_navbar .leftside ul li:hover .sub_menu {
  position: absolute;
  display: inline-block;
  background-color: #002e6d;
}

.header .wrapper .bottom_navbar .leftside ul li:hover .sub_menu ul {
  display: block;
}

.header .wrapper .bottom_navbar .leftside ul li:hover .sub_menu ul li a {
  display: block;
}

.header .wrapper .bottom_navbar .leftside ul li:hover .sub_menu ul li {
  border-bottom: 1px solid #ffffff;
  width: 200px;
  padding: 10px;
  border-radius: 0px;
  text-align: left;
}

.header
  .wrapper
  .bottom_navbar
  .leftside
  ul
  li:hover
  .sub_menu
  ul
  li:last-child {
  border-bottom: none;
}

.header .wrapper .bottom_navbar .leftside ul li:hover .sub_menu ul li a:hover {
  color: #d00d2d;
}

/*The z-index, with value of 1, ensures that the search-box is in formt of the video. Reerence: https://www.w3schools.com/cssref/pr_pos_z-index.asp */
/*The line-height property shows the distance between the text and button input, and the top part of the search-box.*/
.search-box{
background: #D3D3D3;
position: absolute;
top: 135px;
left: 1200px;
width: 350px;
height: 110px;
line-height: 60px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
border-top:4px solid #D80B15;
z-index: 1;
}

.search-box input[type="text"]{
width: 200px;
padding: 5px 10px;
margin-left: 23px;
border: 1px solid #D80B15;
outline: none;
}

.search-box input[type="button"]{
width: 80px;
padding: 5px 0;
background: #002e6d;
color: #fff;
border: 1px solid #002e6d;
outline: none;
cursor: pointer;
transition: all 0.3s;
}

.w3-button {
position: absolute;
top: 80px;
left: 1500px;
background: white;
border: 3px solid white;
padding: 4px 8.5px;
outline: none;
cursor: pointer;
transition: all 0.3s;
}

.w3-button:hover, .search-box input[type="button"]:hover{
background-color: red;
color: white;
border-color: red;
}

#button1{
position: absolute;
top: 50px;
left: 280px;
}

#footer1 {
position: absolute;
top: 1435px;
left: 0px;
height: 375px;
width: 1600px;
background-color: white;
}

#footer2 {
position: absolute;
left: 0px;
top: 1810px;
width: 100%;
height: 50px;
background-color: #002b5c;
color: white;
}

#footer1A {
margin-left: 50px;
margin-right: 900px;
margin-top: 50px;
}

#footer1A p {
font-size: 17px;
}

#footer1B {
position: relative;
bottom: 155px;
margin-left: 800px;
font-weight: bold;
}

#footer1B a {
color: black;
text-decoration: none;
}

#footer1C {
position: relative;
bottom: 390px;
margin-left: 1050px;
font-weight: bold;
}

#rights {
margin-left: 50px;
}

#rights a {
font-size: 20px;
}

.fa {
position: relative;
left: 900px;
color: white;
text-decoration: none;
width: 50px;
}

.fa:hover {
color: red;
}